.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 25px;
    padding-bottom: 50px;
}

.title-img{
    text-align: center;
    margin-top: 20px;
}
.title-text{
    font-size: 30px;
    font-weight: bold;
}
.btn{
    background: #7C3AED;
    color: white;
    margin-top: 5px;
}
.btn:hover{
    background: #228B22;
}
.btn1{
    background: blue;
    color: white;
    margin-top: 5px;
    width: 180px;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}
.img{
    border-radius: 10px;
    width: 350px;
    height: 200px;
}
.hidden{
    display: none;
}

/* small device */
@media screen  and (max-width:640px){
    .btn-div{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
        justify-content: center;
        align-items: center;
    }    
}